*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ContainH22{
    padding-top: 8%;
    padding-bottom: 4%;
    background-color: rgba(2, 7, 57, 0.897);
    padding-left: 60px;
    padding-right: 60px;
}
.PodPodBlH2222{
    display: flex;
    justify-content: space-around;
}
.BludoH22{
    width: 17%;
}
.BludoH22 img{
    width: 100%;
    height: 380px;
    border-radius: 10px;
}
.BludoH22 h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 240%;
    color: white;
}
.buttonGrBP2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 20%;
    height: 30px;
    border-radius: 8px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.BludoH22 p{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 160%;
    color: grey ;
}
.PodPodPodBlH2212223{
    display: flex;
    align-items: center;
    margin-top: 25px;
    position: absolute;
    top: 83%;
}
.PodPodPodBlH2212223 h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 240%;
    color: rgb(255,255,255);
}
.BasketB22223{
    border: none;
    cursor: pointer;
    background-image: url(./assets/BasketKn.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 67px;
    height: 68px;
    margin-left: 60px;
    border-radius: 5px;
}
.butonGrB2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 20%;
    height: 30px;
    border-radius: 8px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
body::-webkit-scrollbar {
    width: 0;
  }
.zogl2222222{
    display: flex;
    position: absolute;
    left: 30px;
    top: 150px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120px;
}